.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

#clocks {
  background-color: black;
  border-radius: 50% 50% 0 0;
}

#js-topbar {
  margin-top: 3%;
  margin-bottom: 3%;
}

#js-topbar div {
  margin-left: 10%;
  margin-right: 10%;
}

.digital-clock {
  font-family: monospaced;
  color: green;
  text-align: center;
  text-size: 3em;
}

.random-dog-picture {
  text-align: center;
}

.random-dog-picture div {
  margin-left: 0;
  margin-right: 0;
}
